{extends file="main.html"}

{block name=content}


<section id="banner">
    <div class="content">
        <header>
		<h1> Kalkulator kredytowy <br /> </h1>
		<p>Aby rozpocząć, naciśnij przycisk: "start"</p>
	</header>
        
	<ul class="actions">
            <li><a href="{$conf->action_url}kredytShow"  class="button big">Start</a></li>
	</ul>
    </div>
    
    <span class="image object">
	<img src="/app06_Mihulov/images/pic10.jpg" alt="" />
    </span>
</section>

<div class="footer" >
    <p>
     Stronę stworzył Vladyslav Mihulov
	</p>
</div>

{/block}